In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
link = 'https://www.superindo.co.id/hubungi-kami/lokasi-superindo'
request = requests.get(link)
content = request.content

In [3]:
soup = BeautifulSoup(content,"html.parser") 
#print(soup)

In [4]:
cabang = soup.find_all("p",{"class": "standar-font"})
#print(cabang)

In [5]:
df = pd.DataFrame(cabang, columns=['Toko'])

In [6]:
df.head(10)

                                                Toko
0                                Super Indo Cirendeu
1  Jl. Cirendeu Raya No. 20 Pondok Cabe Jakarta S...
2                           Tel 741 7041 / 741 7925
3                                  Super Indo Cinere
4        Cinere Mall, JL.Cinere Raya Jakarta Selatan
5                        Tel 753 5401/ 753 5388 - 89
6                                 Super Indo Mampang
7  Warung Buncit City Point, Jl. Mampang Prapatan...
8                            Tel 794 6253 / 794 5909
9                                Super Indo Pancoran

In [7]:
df.shape

(1374, 1)

In [8]:
outlet = []
alamat = []
telepon = []
count = 0

for index in range(len(df)):
    count = index % 3
    if count == 0: 
        outlet.append(df["Toko"].loc[index])
    if count == 1:
        alamat.append(df["Toko"].loc[index])
    if count == 2:
        telepon.append(df["Toko"].loc[index])

In [9]:
Data = pd.DataFrame(outlet, columns=['Toko'])
Data["Alamat"] = alamat
Data["Telepon"] = telepon
Data.head()

,Toko,Alamat,Telepon
0,Super Indo Cirendeu,Jl. Cirendeu Raya No. 20 Pondok Cabe Jakarta S...,Tel 741 7041 / 741 7925
1,Super Indo Cinere,"Cinere Mall, JL.Cinere Raya Jakarta Selatan",Tel 753 5401/ 753 5388 - 89
2,Super Indo Mampang,"Warung Buncit City Point, Jl. Mampang Prapatan...",Tel 794 6253 / 794 5909
3,Super Indo Pancoran,Jl. MT Haryono no.1 Pancoran Jak-Sel,Tel 837 00321 / 837 00633
4,Super Indo Kosambi,Jl.Raya Duri Kosambi No.38 Jakarta Barat,Tel 543 901 79

In [10]:
Data.shape

(458, 3)

In [12]:
Data.to_csv('Basic_Superindo.csv')